#header {
  height: 500px;
  margin: 0;
  background-color: #2A4D6E;
  color: white;
}
#header #title {
  position: relative;
  top: -600px;
  text-align: left;
  font-family: 'Stardos Stencil', cursive;
  font-size: 3em;
}

#header #buttons {
  opacity: 0;
}

#header #description {
  position: relative;
  top: -100px;
  opacity: 0;
}

#content {
  height: 100%;
  padding: 10px;
}

#content #loading-window {
  color: #888;
}

#content #data-symbols {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#content #dashboard {
  display: none;
}

#content #informative-charts {
  display: none;
}
#content #informative-charts #title {
  font-family: 'Stardos Stencil', cursive;
}
#content #informative-charts #histograms {
  display: none;
}
#content #data-description{
  height: 90vh;
  overflow-y: auto;
}


#table-view-modal .modal-body{
  height: 50vh;
  overflow-y: auto;
}


canvas {
  width: 100%;
}