doctype html
html
  head
    title Garzoni font
    link(rel="stylesheet", href="/css/styles.css")
    link(href='http://fonts.googleapis.com/css?family=Stardos+Stencil' rel='stylesheet' type='text/css')
    link(href="/js/lib/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type='text/css')
    link(href="/js/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel='stylesheet' type='text/css')
    != LRScript
  body
    #header.jumbotron
      #title
        h1 Garzoni font dataset’s profession profiling and descriptive statistics
      #buttons.col-lg-6.text-center
        button#use.btn.btn-warning Discover garzoni statistics!
      #description.col-lg-6
        p Description here blablabla
    #content.col-lg-12.hide
      #loading-window.col-lg-12.hide
        h1.text-center Loading data...
        #data-symbols.img.img-responsive.img-circle
          p
          | 1011
          br
          | 1101
          br
          | 1111
      #dashboard
        #general-info.affix.affix-top.col-lg-2
          #info.thumbnail
          #selected-data.thumbnail
            #selectedColumns
              h4 Selected columns:
              div
              a(href="#") Clear selections
            #filters
              h4 Filters:
              div
              a(href="#") Clear filters
        #general-charts.col-lg-7.col-lg-offset-2
          #records-registers-distribution-pie.thumbnail.col-lg-6.text-center
            h4 Records distribution by register:
            canvas
          #records-year-distribution-pie.thumbnail.col-lg-6.text-center
            h4 Records distribution by year:
            canvas
          #registrer-year-value.thumbnail.col-lg-12
            h4.pull-left Number of records per year
            button.btn.btn-info.pull-right Show by registers
            canvas
        #informative-charts.col-lg-7.col-lg-offset-2

        #data-description.col-lg-3.pull-right.thumbnail
          h4 Dataset description:
          p Chose any of the following fields to see detailed statistics!
          .list-group

    #table-view-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4
          .modal-body
          .modal-footer
            button.btn.btn-default(data-dismiss="modal", aria-label="Close") Close
  script(src="/js/lib/jquery/dist/jquery.min.js")
  script(src="/js/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/lib/Chart.js/Chart.min.js")
  script(src="/js/lib/move.js/move.min.js")
  script(src="/js/lib/async/lib/async.js")
  script(src="/js/lib/underscore/underscore-min.js")
  script(src="/js/dataHandler.js")
  script(src="/js/visualize.js")
  script(src="/js/index.js")